/*==== Palette ====*/
/*==== Breakpoints ====*/
html {
  box-sizing: border-box;
}

body {
  background: url(../assets/mobile/image-host.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11px;
  text-align: center;
  color: #54E6AF;
  font-weight: 400;
}
footer a {
  color: #5A668A;
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background: #121725;
    position: relative;
  }
}
@media (min-width: 1024px) {
  body {
    background: #121725;
  }
}
header {
  padding-bottom: 27px;
}

.main-title {
  color: #54E6AF;
  font-size: 26px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}
.main-title span {
  color: #fff;
}

.main-paragraph {
  color: #C2CBE5;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

input {
  background-color: #2C344B;
  border: 0;
  border-radius: 28px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 32px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  flex-grow: 3;
}
input:active {
  outline: none;
}
input::placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  opacity: 0.5;
}

.error-msg {
  color: red;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding-left: 32px;
  padding-top: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.display-error {
  opacity: 1;
}

.btn {
  background-color: #54E6AF;
  cursor: pointer;
  color: #121725;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 0;
  border-radius: 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #54E6AF;
  filter: brightness(120%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-paragraph, .main-title {
    text-align: left;
  }

  .main-title {
    font-size: 48px;
    line-height: 56px;
  }

  .main-paragraph {
    font-size: 18px;
    line-height: 28px;
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 0 0 0 35px;
  }

  .main-paragraph, .main-title {
    text-align: left;
  }

  .main-title {
    font-size: 52px;
    line-height: 56px;
  }

  .main-paragraph {
    font-size: 18px;
    line-height: 28px;
    max-width: 60%;
  }
}
.container::before {
  content: "";
  background-color: rgba(18, 23, 37, 0.9);
  background-size: cover;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container {
  padding: 60px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: fit-content;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 36px;
}

.logo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  justify-items: center;
  align-items: center;
}
.logo-gallery img {
  max-width: 60px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container::before {
    content: "";
    background: url(../assets/tablet/image-host.jpg);
    background-repeat: no-repeat;
    background-position: right top;
  }

  .container::after {
    content: "";
    position: absolute;
    background: url(../assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    bottom: 0;
    left: 30px;
    width: 232px;
    height: 104px;
  }

  .container {
    display: grid;
    justify-content: flex-start;
    padding-left: 39px;
  }

  main {
    display: flex;
    flex-direction: column;
    background: #121725;
    margin-top: 75px;
    padding-top: 75px;
    max-width: 85%;
    gap: 0;
    padding-right: 35px;
    margin-bottom: 150px;
  }

  .input-group {
    order: 3;
    display: flex;
    flex-direction: row;
    background: #2C344B;
    padding: 5px 5px 5px 0;
    border-radius: 28px;
    max-width: 68%;
    gap: 0;
  }
  .input-group > .btn {
    max-width: 162px;
    justify-self: flex-end;
    padding: 9px 27px;
  }

  .logo-gallery {
    order: 4;
    margin-top: 32px;
    padding-top: 32px;
    grid-gap: 20px;
  }
  .logo-gallery img {
    max-width: 129px;
  }
}
@media (min-width: 1024px) {
  .container::before {
    content: "";
    background: url(../assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70% 80%;
  }

  .container::after {
    content: "";
    position: absolute;
    background: url(../assets/desktop/bg-pattern-dots.svg);
    background-repeat: no-repeat;
    bottom: 20px;
    right: 0;
    width: 232px;
    height: 104px;
  }

  .container {
    display: grid;
    justify-content: flex-start;
    padding-left: 39px;
    grid-gap: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
    background: #121725;
    padding: 75px 35px 15px 35px;
    max-width: 55%;
    gap: 0;
  }

  .input-group-container {
    padding-bottom: 30px;
  }

  .input-group {
    order: 3;
    display: flex;
    flex-direction: row;
    background: #2C344B;
    padding: 5px 5px 5px 0;
    border-radius: 28px;
    max-width: 68%;
    gap: 0;
  }
  .input-group input {
    outline: none;
  }
  .input-group > .btn {
    max-width: 162px;
    justify-self: flex-end;
    padding: 9px 27px;
  }

  .logo-gallery {
    order: 4;
    grid-gap: 0;
    justify-items: flex-start;
  }
  .logo-gallery img {
    max-width: 129px;
  }
}

/*# sourceMappingURL=style.css.map */
