$eucalyptus : #54E6AF;
$martinique : #2C344B;
$mirage : #121725;
$white : #fff;
$waikawa-gray: #5A668A;
$periwinkle-gray: #C2CBE5;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}