
/*==== Palette ====*/
$eucalyptus : #54E6AF;
$martinique : #2C344B;
$mirage : #121725;
$white : #fff;
$waikawa-gray: #5A668A;
$periwinkle-gray: #C2CBE5;


/*==== Breakpoints ====*/

$breakpoint-mobile : 375px;
$breakpoint-tablet : 768px;
$breakpoint-desktop : 1024px;


html {
    box-sizing: border-box;
    overflow-y: hidden;
}


body {
    background: url(../assets/mobile/image-host.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Chivo', sans-serif;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}


footer { 
    padding-top: 10px; 
    font-size: 11px; 
    text-align: center;
    color: #54E6AF;
    font-weight: 400;
    
    a { 
        color: $waikawa-gray; 
    }
}

@include tablet {
    body {
        background: $mirage;
    }
}
