body::before {
    content: '';
    background-color: rgba($mirage, .9);
    background-size: cover;
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}


.container {
    padding : 60px 24px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: fit-content;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 36px;
}

.logo-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    justify-items: center;
    align-items: center;

    img {
        max-width: 60px;
    }
}


@include tablet {
    body::before {
        content: '';
        background: url(../assets/tablet/image-host.jpg);
        background-repeat: no-repeat;
        position: absolute;
        max-width: 64%;
        max-height: 75%;
        top: 0;
        left: 38%;
    }


    body::after {
        content: '';
        background: url(../assets/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 232px;
        height: 104px;
    }
}
